<section id="aboutPage" class="fadeIn">

  <h1>About</h1>
  <p>
    Jam icons is a set of icons designed for web projects, illustrations, print projects, etc. Shipped in both font & svg versions. I aimed to provide a large choice of icons for all projects : filled & outlined icons. <br>
  The icons have been made in a 64x64 grid with a 4 pixels stroke basis, all in a consistent way and tested at 18x18, 24x24, 32x32.</p>

  <h3>Do you provide a font for Jam icons?</h3>
  <p>I do provide a very basic web font with no concern about unicode position to use each font. If you need to have a more specific approach, I provided the icons in SVG.
  </p>

  <h3>How do I use Jam icons?</h3>
  <p>You can use Jam icons in two ways: as a font, with its css stylesheet or as independent SVGs files for all your projects: web, app, print etc. Do wathever you want <span class="jam jam-smiley"></span>.
    <br><br>
    If you use the font, you can easily use the CDN link, so you don't have to download anything:
    <code style="margin:16px 0 5px">
      &lthead&gt
      <br>
      &nbsp;&nbsp;...
      <br>
      &nbsp;&nbsp;&ltlink rel="stylesheet" href="https://unpkg.com/jam-icons@1.0.72/css/jam-icons.min.css"&gt
      <br>
      &lt/head&gt
    </code>
    <br>
    Install via npm:
    <code style="margin:16px 0 5px">
      <br>
      &nbsp;&nbsp;$&nbsp;&nbsp;npm install jam-icons
      <br><br>
    </code>
    <br>
    Or download Jam and add it to your project with the following tag:
    <code style="margin:16px 0 5px">
      &lthead&gt
      <br>
      &nbsp;&nbsp;...
      <br>
      &nbsp;&nbsp;&ltlink rel="stylesheet" href="path-to/css/jam-icons.min.css"&gt
      <br>
      &lt/head&gt
    </code>
    <small class="tip">*Don't forget to copy the "fonts" folder at the same level of your css folder.</small>
    <br>
    <br>
    To use an icon, add the master class "jam" to your tag and just click on the needed icon or prefix it with "jam-".
    <br>
    For example, if you need to use the "backpack" icon, do as below:
    <code>
      &ltspan class="jam jam-backpack"&gt&lt/span&gt
    </code>
  </p>

  <h3>Is Jam icons free? Could I use it for comercial projects?</h3>
  <p>Jam icons is an open sourced project available on <a target="_blank" class="link" href="https://github.com/michaelampr/jam/issues">Github</a>, under MIT licence. <br> You can use all the icons, font for both personal and professional projects. <br>A reference to this project website is appreciated <span class="jam jam-smiley"></span>. For example: <code>&lt;a href="http://jam-icons.com" title="Jam icons site" target="_blank"&gt;Icons by Jam icons&lt;/a&gt;</code></p>

  <h3>I need pictogram(s) that are not in the set.</h3>
  <p>One of my objectives when I started Jam icon was to provide a large amount of consistent icons. <br>So if you need more icons, just ask on the Github project page <a target="_blank" class="link" href="https://github.com/michaelampr/jam/issues">here</a> and I'll add the most asked in future updates.</p>

  <h3>Can I donate to help the development of future versions?</h3>
  <p>Jam icons is in version 1. This is just the beginning of this great adventure and I trully want to create more and more icons. But each icon need time to be created in a consistent way, adjusted and finalized. If you like this project and if you want to help, you can buy me a coffee <a target="_blank" class="link" href="https://www.paypal.me/MichaelAmpr">here</a> <span class="jam jam-smiley"></span>.</p>


</section>
