<section id="logPage" class="fadeIn">
  <h1>Changelog</h1>
  <h3>v1.0.72 <small class="date">Optimized SVGs</small></h3>
  <h3>v1.0.72 <small class="date">Added index.js</small></h3>
  <h3>v1.0.7 <small class="date">Added support for json listing</small></h3>
  <h3>v1.0.65 <small class="date">October 2017</small></h3>
  <p>Bug fixes, enhancement.</p>
  <h3>v1.0.0 <small class="date">January 2017</small></h3>
  <p>First major release, with 422 icons.</p>
  <h3>v0.9.0 <small class="date">January 2017</small></h3>
  <p>Adding 2 icons: Flag filled (flag-f), Umbrella filled (umbrella-f).</p>

  <h3>v0.8.5 <small class="date">January 2017</small></h3>
  <p>Updating some icons: Hourglass, Balloon, News, Mountain, Mountains, Smiley, Signal, Chess, Flag.</p>
  <h3>v0.8.0 <small class="date">January 2017</small></h3>
  <p>Beta release, with 420 icons.</p>
</section>
